{% extends 'base.html.twig' %}

{% block title %}FORMATION{% endblock %}

{% block body %}

<div>
    <h1>information pour la formation {{ formation.nom }}</h1>

    {# affiche la liste des apprenant d'une formation #}
    <h2> Liste des apprenants</h2>
    {% for appr in formation.apprenants %}
        <p>{{appr.nom}}</p>
    {% endfor %}

    {% for mod in formation.modules %}
        <p>{{mod.matiere.nom}} prog : {{mod.programme}}</p>
        <a href="{{path("programme", {id : mod.id}) }}"> {{ mod.matiere.nom}}</a><br>

    {% endfor %}






</div>

{% endblock %}
