{% extends 'base.html.twig' %}

{% block title %}APPRENANT{% endblock %}

{% block body %}

<div>
    <h1>information pour l'apprenant {{ apprenant.nom }} {{ apprenant.prenom }}</h1>
    <h2>Notes pour la Formation : {{ apprenant.formation.nom }}</h2>

    <table>
        <thead>
            <tr>
                <th>matières</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {# on passe en revu les matiere de l'apprenant #}
            {% for mod in apprenant.formation.modules %}
                <tr>
                    <td><a href="{{path("programme", {id : mod.id}) }}"> {{ mod.matiere.nom}}</a></td>

    {# on parcourt les notes correspondant a la matiere et si c'est celle de l'apprenant on l'affiche #}
                    <td>
                        {% for aNote in mod.matiere.avoirNotes %}
                        {% if aNote.apprenants == apprenant %}
                            {{ aNote.note }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>







{% endblock %}
