{% extends 'base.html.twig' %}

{% block title %}Modifier le programme{% endblock %}

{% block body %}


    <h1>Modifier le programme :</h1>

    {# {{ form(form) }} #}

{# {{ form_start(form) }} #}
{{ form_label(form.programme) }}<br>
{{ form_widget(form.programme) }}

{{ form_row(form.Envoyer) }}

{# {{ form_end(form) }} #}

<button onclick="history.back()">Retourner à la page précédente</button>

{% endblock %}