{% extends 'base.html.twig' %}

{% block title %}Modifier le programme{% endblock %}

{% block body %}
<header>
<div class="navbar">
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="titre">
      <button class="bouton-déconnexion" onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
    <h1>FoXmation</h1>
    </div>
</div>

    <h1>Modifier le programme :</h1>

{{ form_start(form) }}

{{ form_label(form.programme) }}<br>
{{ form_widget(form.programme) }}
{{ form_row(form.Envoyer) }}

<div visibility : hidden> {# cache les champs rempli automatiquement #}
{{ form_rest(form) }}
</div>

{{ form_end(form) }}

<button onclick="history.back()">Retourner à la page précédente</button>
   <footer>
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="reseaux-sociaux">
    <a href="https://www.facebook.com/"><img src="\assets\img\Icon akar-facebook-fill.svg" alt="Facebook"></a>
    <a href="https://linkedin.com/?&"><img src="\assets\img\Icon akar-linkedin-fill.svg" alt="Twitter"></a>
    <a href="https://www.twitter.com/"><img src="\assets\img\Icon akar-twitter-fill.svg "alt="Instagram"></a>
    </div>
  <p>&copy; 2024 FoXmation</p>
</footer>
</header>
{% endblock %}