{% extends 'base.html.twig' %}

{% block title %}MODIFIER PROG{% endblock %}

{% block body %}


    <h1>Modifier le programme :</h1>

{{ form_start(form) }}

{{ form_label(form.programme) }}<br>
{{ form_widget(form.programme) }}
{{ form_row(form.Envoyer) }}

<div visibility : hidden> {# cache les champs rempli automatiquement #}
{{ form_rest(form) }}
</div>

{{ form_end(form) }}

{% endblock %}