{% extends 'base.html.twig' %}

{% block title %} {{ formateur.nom }} {{formateur.prenom}} {% endblock %}

{% block body %}
<header>
<div class="navbar">
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="titre">
      <button class="bouton-déconnexion" onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
    <h1>FoXmation</h1>
    </div>
</div>

    <h2>Informations pour le formateur {{ formateur.nom }} {{formateur.prenom}} </h2>


    <table>
        <thead>
            <tr>
                <th>Formation</th>
                <th>Matières</th>
                <th>Voir</th>
                <th>Mettre</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in listeFormation %}
            {% for mod in formation.modules %}
                {% if mod.matiere.formateurs == formateur %}
                <tr>
                    <td>{{ formation.nom }}
                    </td>

                    <td>{{ mod.matiere.nom }}
                    </td>

                    <td><a href="{{path("formateur_prog", {id : mod.id}) }}">Programme</a>
                    </td>

                    <td>
                    <a href="{{path("formateur_notes", {id : mod.id}) }}">Notes</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}    

        </tbody>
    </table>
    <footer>
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="reseaux-sociaux">
    <a href="https://www.facebook.com/"><img src="\assets\img\Icon akar-facebook-fill.svg" alt="Facebook"></a>
    <a href="https://linkedin.com/?&"><img src="\assets\img\Icon akar-linkedin-fill.svg" alt="Twitter"></a>
    <a href="https://www.twitter.com/"><img src="\assets\img\Icon akar-twitter-fill.svg "alt="Instagram"></a>
    </div>
  <p>&copy; 2024 FoXmation</p>
</footer>
</header>
{% endblock %}
