{% extends 'base.html.twig' %}

{% block title %} {{ formateur.nom }} {{formateur.prenom}} {% endblock %}

{% block body %}

    <h1>Informations pour le formateur {{ formateur.nom }} {{formateur.prenom}} </h1>


    <table>
        <thead>
            <tr>
                <th>Formation</th>
                <th>Matières</th>
                <th>Voir</th>
                <th>Mettre</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in listeFormation %}
            {% for mod in formation.modules %}
                {% if mod.matiere.formateurs == formateur %}
                <tr>
                    <td>{{ formation.nom }}
                    </td>

                    <td>{{ mod.matiere.nom }}
                    </td>

                    <td><a href="{{path("formateur_prog", {id : mod.id}) }}">Programme</a>
                    </td>

                    <td>
                    <a href="{{path("formateur_notes", {id : mod.id}) }}">Notes</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}    

        </tbody>
    </table>

        <button onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>

{% endblock %}
