{% extends 'base.html.twig' %}

{% block title %}FORMATEUR{% endblock %}

{% block body %}

    <h1>information pour le formateur {{ formateur.nom }}</h1>


    <table>
        <thead>
            <tr>
                <th>Formation</th>
                <th>matières</th>
                <th>Voir</th>
                <th>Mettre</th>
            </tr>
        </thead>
        <tbody>
        {% for formation in listeFormation %}
            {% for mod in formation.modules %}
                {% if mod.matiere.formateurs == formateur %}
                <tr>
                    <td>{{ formation.nom }}
                    </td>

                    <td>{{ mod.matiere.nom }}
                    </td>

                    <td><a href="{{path("formateur_prog", {id : mod.id}) }}">Programme</a>
                    </td>

                    <td>
                    <a href="{{path("formateur_notes", {id : mod.id}) }}">Notes</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}    

        </tbody>
    </table>



{% endblock %}
