{% extends 'base.html.twig' %}

{% block title %}FORMATEUR{% endblock %}

{% block body %}

<div>
    <h1>Liste des formateur</h1>

    <ul>    
        {% for formateur in formateurListe %}
            <li>
            <a href="{{path("formateur", {id : formateur.id}) }}"> {{ formateur.nom}}</a>
            {{ formateur.prenom }} {{formateur.email}} : {{ formateur.roles[0]}}

            </li>
            <ul>
                {% for mat in formateur.matieres %}
                    <li>{{ mat.nom }} </li>
                {% endfor %}
            </ul>
        {% endfor %}    
    </ul>


</div>
{% endblock %}
