{% extends 'base.html.twig' %}

{% block title %}Liste des formateurs{% endblock %}

{% block body %}

<div>
    <h1>Liste des formateurs</h1>

    <ul>    
        {% for formateur in formateurListe %}
            {% if formateur.roles[0] == 'prof' %}
            <li>
                <a href="{{path("formateur", {id : formateur.id}) }}"> {{ formateur.nom }} {{ formateur.prenom }}</a>
                {{formateur.email}}
                {# : {{ formateur.roles[0]}} #}
            </li>
                <ul>
                    {% for mat in formateur.matieres %}
                        <li>{{ mat.nom }} </li>
                    {% endfor %}
                </ul>

            </li> 
            {% endif %}
        {% endfor %}    
    </ul>


</div>

<button onclick="history.back()">Retourner à la page précédente</button>

{% endblock %}
