{% extends 'base.html.twig' %}

{% block title %}MODIFIER NOTE{% endblock %}

{% block body %}
<header>
<div class="navbar">
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="titre">
     <button class="bouton-déconnexion" onclick="window.location.href='{{ path('app_logout') }}'"><span>Déconnexion</span></button>
    <h1>FoXmation</h1>
    </div>
</div>

    <h1>Modifier la note de {{ note.apprenants.nom }} {{ note.apprenants.prenom }} en {{ note.matieres.nom }} :</h1>

{{ form_start(form) }}

{{ form_label(form.note) }}
{{ form_widget(form.note) }}<br><br>
{{ form_row(form.Envoyer) }}

<div visibility : hidden> {# cache les champs rempli automatiquement #}
{{ form_rest(form) }}
</div>

{{ form_end(form) }}

   <footer>
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="reseaux-sociaux">
    <a href="https://www.facebook.com/"><img src="\assets\img\Icon akar-facebook-fill.svg" alt="Facebook"></a>
    <a href="https://linkedin.com/?&"><img src="\assets\img\Icon akar-linkedin-fill.svg" alt="Twitter"></a>
    <a href="https://www.twitter.com/"><img src="\assets\img\Icon akar-twitter-fill.svg "alt="Instagram"></a>
    </div>
  <p>&copy; 2024 FoXmation</p>
</footer>
</header>

{% endblock %}