{% extends 'base.html.twig' %}

{% block title %}MODIFIER NOTE{% endblock %}

{% block body %}


    <h1>Modifier la note de {{ note.apprenants.nom }} {{ note.apprenants.prenom }} en {{ note.matieres.nom }} :</h1>

{{ form_start(form) }}

{{ form_label(form.note) }}
{{ form_widget(form.note) }}<br><br>
{{ form_row(form.Envoyer) }}

<div visibility : hidden> {# cache les champs rempli automatiquement #}
{{ form_rest(form) }}
</div>

{{ form_end(form) }}



{% endblock %}