{% extends 'base.html.twig' %}

{% block title %}Notes de {{module.matiere.nom}} pour {{ module.formation.nom}}{% endblock %}

{% block body %}

<div>
    <h1>Notes de {{ module.matiere.nom }} pour la formation {{ module.formation.nom }}</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
        {% for appr in module.formation.apprenants %}
                <tr>
                    <td>{{ appr.nom }}
                    </td>

                    <td>{{ appr.prenom }}
                    </td>

                    <td>
                        {% for note in module.matiere.avoirNotes %}
                        {% if note.apprenants == appr %}
                            {{ note.note }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<br><br>
<div>
    <a href="{{path("mettreNote", {id : module.id}) }}">Modifier les notes</a>
</div>

<button onclick="history.back()">Retourner à la page précédente</button>

{% endblock %}
