{% extends 'base.html.twig' %}

{% block title %}FORMATEUR-NOTE{% endblock %}


{% block body %}

<div>
    <h1>Notes de {{ module.matiere.nom }} pour la formation {{ module.formation.nom }}</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Note</th>
            </tr>
        </thead>
        <tbody>
        {% for appr in module.formation.apprenants %}
                <tr>
                    <td>{{ appr.nom }}
                    </td>

                    <td>{{ appr.prenom }}
                    </td>

                    <td>
                    {% set pasDeNote = true %}
                        {% for note in module.matiere.avoirNotes %}
                        {% if note.apprenants == appr %}
                            {{ note.note }}
                    </td>
                            {% set pasDeNote = false %}
                    <td>
                            <a href="{{ path("modifierNote", {id : note.id}) }}"> modifier {{ note.id }}</a>
                    </td>
                        {% endif %} 
                        {% endfor %}

                    <td>
                        {% if pasDeNote %}
                            <a href="{{ path("ajouterNote", {idApp : appr.id, idMat : module.matiere.id }) }}"> ajouter {{ module.matiere.id }} / {{ appr.id }}</a> 

                        {% endif %}
                    </td>
                </tr>
        {% endfor %}

        </tbody>
    </table>
</div>

<br><br>
{# <div>
    <a href="{{path("mettreNote", {id : module.matiere.id}) }}">Modifier les notes</a>
</div> #}

{% endblock %}
