{% extends 'base.html.twig' %}

{% block title %}Programme de {{module.matiere.nom}} pour {{module.formation.nom}}{% endblock %}

{% block body %}
<header>
<div class="navbar">
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="titre">
        <h1>FoXmation</h1>
        <button class="bouton-déconnexion" onclick="window.location.href='{{ path('app_logout') }}'"><span>Déconnexion</span></button>
    </div>
</div>
<div>
    <h1>Le programme de {{ module.matiere.nom }} pour la formation {{ module.formation.nom }} est : </h1>
    <div class="programme-content">
       <h1> {{ module.programme }} </h1>
    </div>
</div>
<br><br>
<div class="programme-container">
    <a class ="lien" href="{{path("editProgramme", {id : module.id}) }}">Modifier le programme</a>
</div>

<button onclick="history.back()">Retourner à la page précédente</button>
<footer>
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="reseaux-sociaux">
    <a href="https://www.facebook.com/"><img src="\assets\img\Icon akar-facebook-fill.svg" alt="Facebook"></a>
    <a href="https://linkedin.com/?&"><img src="\assets\img\Icon akar-linkedin-fill.svg" alt="Twitter"></a>
    <a href="https://www.twitter.com/"><img src="\assets\img\Icon akar-twitter-fill.svg "alt="Instagram"></a>
    </div>
<p>&copy; 2024 FoXmation</p>
</footer>
</header>
{% endblock %}
