{% extends 'base.html.twig' %}

{% block title %}Vos apprentis à FoXmation{% endblock %}

{% block body %}

<div>
    <h1>Notes de votre apprenti {{ apprenti.nom }} {{ apprenti.prenom }}</h1>
    <h2>pour la formation : {{ apprenti.formation.nom }}</h2>

    <table>
        <thead>
            <tr>
                <th>Matières</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {# on passe en revu les matiere de l'apprenti #}
            {% for mod in apprenti.formation.modules %}
                <tr>
                    <td><a href="{{path("programme", {id : mod.id}) }}"> {{ mod.matiere.nom}}</a></td>

    {# on parcour les notes correspondant a la matiere et si c'est celle de l'apprenti on l'affiche #}
                    <td>
                        {% for note in mod.matiere.avoirNotes %}
                        {% if note.apprenants == apprenti %}
                            {{ note.note }}
                        {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<button onclick="history.back()">Retourner à la page précédente</button>

{% endblock %}
