{% extends 'base.html.twig' %}

{% block title %} {{ tuteur.nom }} {{tuteur.prenom}} {% endblock %}

{% block body %}
<div class="navbar">
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="titre">
     <button class="bouton-déconnexion" onclick="window.location.href='{{ path('app_logout') }}'"><span>Déconnexion</span></button>
      <h1>FoXmation</h1>
    </div>
</div>


<div>
    <h1>Information pour le tuteur {{ tuteur.nom }} {{tuteur.prenom}} </h1>

    <h1> Liste de vos apprentis</h1>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Formation</th>
            </tr>
        </thead>
        <tbody>
            {% for apprenti in tuteur.apprentis %}
                <tr>
                    <td><a href="{{path("apprenti", {id : apprenti.id}) }}"> {{ apprenti.nom}}</a></td>
                    <td><a href="{{path("apprenti", {id : apprenti.id}) }}"> {{ apprenti.prenom }}</a></td>
                    <td>{{ apprenti.formation.nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <button onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>
<footer>
    <img class="logo" src="\assets\img\logo-renard.png" alt="Foxmation"> 
    <div class="reseaux-sociaux">
    <a href="https://www.facebook.com/"><img src="\assets\img\Icon akar-facebook-fill.svg" alt="Facebook"></a>
    <a href="https://linkedin.com/?&"><img src="\assets\img\Icon akar-linkedin-fill.svg" alt="Twitter"></a>
    <a href="https://www.twitter.com/"><img src="\assets\img\Icon akar-twitter-fill.svg "alt="Instagram"></a>
    </div>
  <p>&copy; 2024 FoXmation</p>
</footer>
</header>

{% endblock %}
