{% extends 'base.html.twig' %}

{% block title %} {{ tuteur.nom }} {{tuteur.prenom}} {% endblock %}

{% block body %}



<div>
    <h1>Information pour le tuteur {{ tuteur.nom }} {{tuteur.prenom}} </h1>

    <h2> Liste de vos apprentis</h2>

    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Formation</th>
            </tr>
        </thead>
        <tbody>
            {% for apprenti in tuteur.apprentis %}
                <tr>
                    <td><a href="{{path("apprenti", {id : apprenti.id}) }}"> {{ apprenti.nom}}</a></td>
                    <td>{{ apprenti.prenom }}</td>
                    <td>{{ apprenti.formation.nom }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

        <button onclick="window.location.href='{{ path('app_logout') }}'">Déconnexion</button>

{% endblock %}
